<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snipeswipe.pitchit2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".NewsFeed"
            android:label="@string/title_activity_main2"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ChatActivity"
            android:label="ChatActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".SearchPage"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".Notifications" />
        <activity android:name=".Settings" />
        <activity android:name=".Profile" />
        <activity android:name=".SearchResults" />
        <activity android:name=".OwnProfile" />
        <activity android:name=".EditProfile" />
        <activity android:name=".OwnProfilePhotos" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="com.example.snipswipe.pitchit2.SIGNIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MessageList" />
        <activity android:name=".AddPhoto" />
        <activity android:name=".OwnProfileVideos" />
        <activity android:name=".ProfilePhotos" />
        <activity android:name=".ProfileVideos" />
        <activity android:name=".NotificationSettings" />
        <activity android:name=".PrivacySettings" />
        <activity
            android:name=".PasswordSettings"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".HelpSettings" />
        <activity android:name=".ReportSettings" />
        <activity android:name=".EditProfileFinal"></activity>
    </application>

</manifest>
